[submodule "ios-training"]
	path = ios-training
	url = https://github.com/yumemi-inc/ios-training.git
[submodule "Session15"]
	path = Session15
	url = https://github.com/es-kumagai/YumemiTraining.WeatherForcast-Session15.git
